@v-sider-padding-x: 20px;
@v-sider-padding-y: 20px;
@v-sider-width: 240px;

body {
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

.v-container {
  display: grid;
  grid-template-columns: @v-sider-width 500px auto;
}

.v-sider {
  border-right: 1px solid;
  background-color: #fff;
  &__header {
    padding: 20px @v-sider-padding-x;
    background-color: #000;
    color: rgba(255, 255, 255, 0.75);
    h1 {
      font-size: 18px;
      color: #fff;
    }
  }
}
.v-nav {
  padding: 12px 0;
  &__item {
    position: relative;
    display: block;
    padding: 6px @v-sider-padding-x;
    color: #474d66;
    &:hover,
    &.actived {
      background-color: aliceblue;
    }
    &.actived {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 4px;
        top: 0;
        bottom: 0;
        background-color: #000;
      }
    }
  }
}
.v-case {
  padding: @v-sider-padding-y 20px;
}
.v-code {
  background-color: #f7f8fb;
  overflow: hidden;
  > summary {
    padding: 0 @v-sider-padding-y;
    line-height: 32px;
    cursor: pointer;
  }
  > pre {
    padding: @v-sider-padding-y;
    overflow: auto;
  }
}
pre {
  font-size: 12px;
  margin: 0;
}
